@model List<SistemaConcursoA.Models.Categoria>
@{
    ViewBag.Title = "Index";
    List<SistemaConcursoA.Models.Concurso> concurso = ViewBag.concurso;
}


<div class="well well-sm text-right">
    <a class="btn btn-primary" href="~/Backend/Categoria/AgregarEditar/">Nuevo Categoría</a>
</div>

<div id="Grilla"></div>

<script>
    $(document).ready(function ()
    {
        $("#Grilla").anexGrid(
            {
                columnas: [

                    { leyenda: "ID", columna: "categoria_id", ordenable: true },

                    { leyenda: 'Concurso', style: 'width:200px;', columna: 'concurso', filtro: function () {
                        return anexGrid_select({
                            data: [
                                { valor: '', contenido: 'Todo' },
                                @foreach(var s in concurso)
                            {
                                    <text>
                                        { valor: '@s.concurso_id', contenido: '@s.nombre' },
                                    </text>
                                    }
                                ]
                    });
    }
            },
                    { leyenda: 'Categoría', style: 'width:200px;', columna: 'nombrecat', ordenable: true},

                    { leyenda: "Descripción", columna: "descripcion" },

                    { style: "width: 80px;" },//boton detalle
                    { style: "width: 80px;" },//boton modificar
                    { style: "width: 80px;" },//boton eliminar
                ],

                modelo: [

                    { propiedad: "categoria_id" },
                    { propiedad: "concurso" },
                    {
                        propiedad: "nombrecat", formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Categoria/AgregarEditar/")'
                            + obj.categoria_id, contenido: valor
                            });
                        }
                    },

                    { propiedad: "descripcion" },

                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Categoria/Ver/")'
                            + obj.categoria_id, contenido: "Detalle",
                                class: 'btn btn-xs btn-info'
                            });
                        }
                    },

                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Categoria/AgregarEditar/")'
                            + obj.categoria_id, contenido: "Modificar",
                                class: 'btn btn-xs btn-warning'
                            });
                        }
                    },

                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Categoria/Eliminar/")'
                            + obj.categoria_id, contenido: "Eliminar",
                                class: 'btn btn-xs btn-danger',
                                attr: [
                                    'onclick="return confirm(\'¿Estás seguro de eliminar...?\')"'
                                ]
                            });
                        },
                    }
                ],

                url: '@Url.Content("~/Backend/Categoria/CargarGrilla/")',
                filtrable: true,
                paginable: true, //para mostrar la paginación
                limite: [10, 20, 50, 100], //para mostrar un combobox donde se muestra la cantidad de registros por pagina
                columna: 'categoria_id',
                columna_orden: "DESC"
            });
    })
</script>