@model List<SistemaConcursoA.Models.Proyecto>
@{
    List<SistemaConcursoA.Models.Categoria> categoria = ViewBag.categoria;
    List<SistemaConcursoA.Models.Concurso> concurso = ViewBag.concurso;
    List<SistemaConcursoA.Models.OrdenProyecto> ordenproyecto = ViewBag.proyecto;
}

<div class="panel panel-default">
    <div class="panel-heading">Consulta de Proyectos Visualizando el Orden y Horario</div>
</div>

@using (Html.BeginForm("Index", "Consulta01", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">Criterios de Búsqueda</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Seleccione Concurso:</label>
                <select name="concurso_id" class="form-control" onchange="javascript:

                    var str = location.pathname;
                    var res = str.split('/');

                    location = res[0] + '/' + res[1] + '/' + res[2] + '/' + 'Index/' + this.value;">
                    @foreach (var p in concurso)
                    {
                        if (Session["id_concurso"].ToString().Equals(p.concurso_id.ToString()))
                        {
                            <option selected value="@p.concurso_id" class="form-control ">@p.nombre</option>
                        }
                        else
                        {
                            <option value="@p.concurso_id" class="form-control ">@p.nombre</option>
                        }
                    }
                </select><br />
            </div>
            <div class="form-group">
                <label>Seleccione Categoría:</label>
                <select name="categoria" class="form-control">
                    @foreach (var p in categoria)
                    {
                        <option value="@p.categoria_id" class="form-control">@p.nombre</option>
                    }
                </select><br />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Buscar" />
            </div>
        </div>
    </div>
}
@try
{
    <div class="panel panel-default">
        <div class="panel-heading">Orden y Hora de Exposición de los Proyectos</div>
        <div class="panel-body">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 50px;">Código</th>
                        <th style="width: 200px;">Nombre del Proyecto</th>
                        <th style="width: 200px;">Orden de Exposición del Proyecto</th>
                        <th style="width: 200px;">Hora de Exposición del Proyecto</th>

                    </tr>
                </thead>
                <tbody>
                    @foreach (var m in ordenproyecto)
                {
                        <tr>
                            <th>@m.Proyecto.proyecto_id</th>
                            <th>@m.Proyecto.nombre_proyecto</th>
                            <th>@m.orden</th>
                            <th>@m.horaexposicion</th>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
}
catch (Exception e)
{

}