@model SistemaConcursoA.Models.Semestre
@{
    ViewBag.Title = "Ver";
}

<h2>Ver</h2>
<ol class="breadcrumb">
    <li><a href="~/Backend/Semestre/Index">Semestre</a></li>
    <li class="active">@Model.nombre</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Información detallada del semestre</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID</dt>
            <dd>@Model.semestre_id</dd>
            <dt>Semestre</dt>
            <dd>@Model.nombre</dd>
            <dt>Año</dt>
            <dd>@Model.anio</dd>
            <dt>Fecha inicio</dt>
            <dd>@Model.fechainicio</dd>
            <dt>Fecha fin</dt>
            <dd>@Model.fechafin</dd>
        </dl>

    </div>
</div>