@model SistemaConcursoA.Models.Premio
@{
    List<SistemaConcursoA.Models.Concurso> concurso = ViewBag.Concurso;
    List<SistemaConcursoA.Models.Categoria> categoria = ViewBag.Categoria;
}

<h2>Ver</h2>

<ol class="breadcrumb">
    <li><a href="~/Backend/Premio/Index">Premio</a></li>
    <li class="active">@Model.nombre</li>
</ol>

<div class="panel panel-default">
    <div class="panel-heading">Información detallada del Premio</div>
    <div class="panel-body">
        <dl class="dl-horizontal">
            <dt>ID:</dt>
            <dd>@Model.premio_id</dd>
            <dt>Concurso:</dt>
            <dd>@Model.Concurso.nombre</dd>
            <dt>Categoria:</dt>
            <dd>@Model.Categoria.nombre</dd>
            <dt>Nombre:</dt>
            <dd>@Model.nombre</dd>
            <dt>Descripción:</dt>
            <dd>@Model.descripcion</dd>
            <dt>Estado:</dt>
            <dd>@Model.estado</dd>
        </dl>
    </div>
</div>


