@model List<SistemaConcursoA.Models.Evaluacion>
@{
    List<SistemaConcursoA.Models.Proyecto> proy = ViewBag.proyecto;
    List<SistemaConcursoA.Models.Categoria> categoria = ViewBag.categoria;
    List<SistemaConcursoA.Models.Concurso> concurso = ViewBag.concurso;
    var cont = ViewBag.proyectocant;
}

<div class="panel panel-default">
    <div class="panel-heading">Consulta de la Cantidad de Proyectos por Categoría del Concurso</div>
</div>

@using (Html.BeginForm("Index", "Consulta06", FormMethod.Post, new { criterio = "frm-buscar" }))
{
    <div class="panel panel-default">
        <div class="panel-heading">Criterios de Búsqueda</div>
        <div class="panel-body">
            <div class="form-group">
                <label>Seleccione Concurso:</label>
                <select name="concurso_id" class="form-control" onchange="javascript:

                    var str = location.pathname;
                    var res = str.split('/');

                    location = res[0] + '/' + res[1] + '/' + res[2] + '/' + 'Index/' + this.value;">
                    @foreach (var p in concurso)
                    {
                        if (Session["id_concurso"].ToString().Equals(p.concurso_id.ToString()))
                        {
                            <option selected value="@p.concurso_id" class="form-control ">@p.nombre</option>
                        }
                        else
                        {
                            <option value="@p.concurso_id" class="form-control ">@p.nombre</option>
                        }
                    }
                </select><br />
            </div>
            <div class="form-group">
                <label>Seleccione Categoría:</label>
                <select name="categoria" class="form-control">
                    @foreach (var p in categoria)
                    {
                        <option value="@p.categoria_id" class="form-control">@p.nombre</option>
                    }
                </select><br />
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-success" value="Buscar" />
            </div>
        </div>
    </div>
}

@try
{
    if (proy.Count != 0)
    {
        <div class="panel panel-default">
            <div class="panel-heading">Cantidad de Proyectos por Categoría</div>
            <div class="panel-body">
                <table class="table">
                    <thead>
                        <tr>
                            <th style="width: 200px;">Cantidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>@cont</th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    }
}
catch (Exception e)
{

}
