@model List<SistemaConcursoA.Models.Ciclo>
@{
    ViewBag.Title = "Index";
}

<div class="well well-sm text-right">
    <a class="btn btn-primary" href="~/Backend/Ciclo/AgregarEditar/">Nuevo Ciclo</a>
</div>
<div id="Grilla"></div>

<script>
    $(document).ready(function ()
    {
        $("#Grilla").anexGrid(
            {
                columnas: [

                    { leyenda: "ID", columna: "ciclo_id", ordenable: true },

                    { leyenda: 'Nombre', style: 'width:200px;', columna: 'nombre', ordenable: true, filtro: true },

                    { leyenda: "Descripción", columna: "descripcion" },

                    { style: "width: 80px;" },//boton detalle
                    { style: "width: 80px;" },//boton modificar
                    { style: "width: 80px;" },//boton eliminar
                ],

                modelo: [

                    { propiedad: "ciclo_id" },
                    {
                        propiedad: "nombre", formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Ciclo/AgregarEditar/")'
                            + obj.ciclo_id, contenido: valor
                            });
                        }
                    },

                    { propiedad: "descripcion" },

                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Ciclo/Ver/")'
                            + obj.ciclo_id, contenido: "Detalle",
                                class: 'btn btn-xs btn-info'
                            });
                        }
                    },

                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Ciclo/AgregarEditar/")'
                            + obj.ciclo_id, contenido: "Modificar",
                                class: 'btn btn-xs btn-warning'
                            });
                        }
                    },

                    {
                        formato: function (tr, obj, valor) {
                            return anexGrid_link({
                                href: '@Url.Content("~/Backend/Ciclo/Eliminar/")'
                            + obj.ciclo_id, contenido: "Eliminar",
                                class: 'btn btn-xs btn-danger',
                                attr: [
                                    'onclick="return confirm(\'¿Estás seguro de eliminar...?\')"'
                                ]
                            });
                        },
                    }
                ],

                url: '@Url.Content("~/Backend/Ciclo/CargarGrilla/")',
                filtrable: true,
                paginable: true, //para mostrar la paginación
                limite: [10, 20, 50, 100], //para mostrar un combobox donde se muestra la cantidad de registros por pagina
                columna: 'ciclo_id',
                columna_orden: "DESC"
            });
    })
</script>

